<!--Botton Nav-->
<nav class="navbar navbar-dark bg-dark">
  <h6 class="navbar-text">&copy; Copyright 2023. All Rights Reserved.</h6>
  <!--My information for reaching out and my work-->
  <h6 class="linkedin">Reach out at: <a href="https://ca.linkedin.com/in/pavishaan-vijeyarajah-42a70324b">Linkedin</a></h6>
  <h6 class="github">Find my work at: <a href="https://github.com/PaviVijeyarajah">Github</a></h6>
</nav>
