<!DOCTYPE html>
<html lang="en">
<!--Assigment 3 ejs
Pavi Vijeyarajah
Date:11/14/2023
Class:INFR 3120U
Professor Ahmed Sheikh-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--CSS Files-->
  <!--CSS Desktop-->
  <link rel='stylesheet' href='/content/app.css' type="text/css" media="only screen and (min-width:960px)"/>
  <!--CSS Tablet-->
  <link rel="stylesheet" href="/content/tablet_app.css" type="text/css" media="only screen and (min-width:481px) and (max-width:960px)">
  <!--CSS Phone-->
  <link rel="stylesheet" href="/content/phone_app.css" type="text/css" media="only screen and (max-width:480px)">
  <!--CSS Bootstrap-->
  <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css" />
  <!--CSS Fontawesome-->
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'>
</head>
<body>