@charset "UTF-8";
/*Assigment 2 App Tablet
Pavi Vijeyarajah
Date:11/2/2023
Class:INFR 3120U
Professor Ahmed Sheikh*/

/*Color combo #AC5FED #8B63F7 #6667E1 #638AF7 #5FAAED */


body {
    background-color: #638AF7;
    font-family: Verdana, Geneva, Arial, sans-serif; /*Choosing multiple fonts just in case one doesn't work*/
    padding: 0px;
    margin: 0px;
}
#wrapper {
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left:auto;
}
.display-4 {
    margin-left: 75px;
    width: 605px;
}
#homepage  {
    width: 100%;
    height: 600px;
    background-color: #6667E1;
    display: inline-block;
    padding-top: 80px;
}
#txtarea {
    margin-left: 12px;
    float: left;
    font-size: larger;
}
#title {
    margin-left: 134px;
    margin-top: 97px;
    font-size: xx-large;
}
#welcome {
    margin-left: 52px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: x-large;
}
#ERI {
    margin-left: 18px;
    font-size: x-large;
}

#homeimg{
    float: right;
    width: 50%;
    height: 50%;
    margin-right: 12px;
    margin-top: 70px;
    border: solid;
    border-left-width: 10px;
    border-right-width: 10px;
    border-block-width: 10px;
}


#pagetitle {
    text-align-last: center; /*This allows for centering text without having to margin it*/
    font-size: xx-large;
}


#projectpage {
    width: 100%;
    height: auto;
    background-color: #6667E1;
    display: inline-block;
    padding-top: 80px;
}
#proj1 {
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 25%,rgba(0,0,0,0) 100%); /*This gives gradience to the div*/
    text-align-last: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 70px;
    margin-top: 40px;
    color: white;
    font-size: x-large;
}
#projimg {
    background-color: #3b3838;
    padding: 19px;
}
#projectpage p {
    
    margin-left: 60px;
    margin-right: 32px;
}
#proj2 {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(255,255,255,0.65) 76%);
    text-align-last: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 70px;
    margin-top: 40px;
    color: black;
    font-size: x-large;
}
#proj2img {
    background-color: #c1b8b8;
    padding: 19px;
    width: 654px;
    height: 455px;
}


#aboutpage {
    width: 100%;
    height: auto;
    background-color: #6667E1;
    display: inline-block;
    padding-top: 80px;
    padding-bottom: 10px;
    text-align-last: center;
}
#personal {
    text-align-last: center;
}
#imgcolor {
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background: linear-gradient(135deg, rgba(56,175,110,0.65) 0%,rgba(196,85,209,0.6) 100%);
    border-radius: 100px;
}
#image {
    width: 376px;
    height: 390px;
    border-radius: 225px; /*This gives the image a sort of circular radius so that instead of a square border it changes to a circle border*/
}
#personal p {
    margin-right: 211px;
    margin-left: 199px;
    margin-top: 25px;
    font-size: x-large;
}
video {
    width: 591px;
    height: 394px;
    padding-top: 30px;
    padding-bottom: 30px;
}  


#contactpage {
    width: 100%;
    height: auto;
    background-color: #6667E1;
    display: inline-block;
    padding-top: 80px;
}
form {
    background-color: #AC5FED;
    margin-right: auto;
    width: 670px;
    margin-left: auto;
    margin-top: 35px;
    padding: 25px;
    margin-bottom: 30px;
    font-size: x-large;
}
#comments {
    margin-left: 63px;
}
#submit {
    margin-left: 220px;
}
.nav-dark{
    justify-content: unset; /*Remove the default justify spacing on bootstrap footer*/
}
.linkedin {
    color:#939d9e;
    margin-left: 135px;
}
.github {
    color: #939d9e;
    margin-right: 40px;
}